// ========================= [ Header styles ] =========================
.header {
  font-weight: 400;
  &.fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
  }
}
.navbar {
  display: flex;
  align-items: center;
  background-color: $primary;
  height: 73px;
  padding: 20px 18px;
}
.logo {
  width: 50px;
  height: 50px;
  a {
    color: white;
  }
}
.menu__item__mobile {
  display: none;
  @media screen and (max-width: $burgerBreakpoint) {
    display: flex;
  }
}

// ========================== [ Menu styles ] ==========================
.menu {
  display: flex;
  gap: 24px;
  // .menu__item
  &__item {
    display: flex;
    position: relative;
  }

  // .menu__item-link
  &__item-link {
    color: white;
    display: flex;
    position: relative;
    transition: 0.5s color;
    font-size: 17px;
    line-height: 20px;
    /* identical to box height */
    opacity: 0.8;
    letter-spacing: 0.02em;
    &:after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -3px;
      background: #131418;
      height: 1px;
      width: 100%;
      transform: scale(0);
      transition: 0.5s transform;
    }
    &:hover {
      opacity: 1;
      &:after {
        transform: scale(1);
      }
    }
  }

  // Mobile menu styles
  @media screen and (max-width: $burgerBreakpoint) {
    position: fixed;
    background: $burgerColor;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;

    &.active {
      display: flex;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100vw;
      flex-direction: column;
      pointer-events: all;
      justify-content: center;
      align-items: center;
      z-index: 2;
      animation: fade 0.1s linear;
    }
  }
}

.nav_control {
  display: flex;
  margin-left: auto;
  &.active {
  }
}
.select {
  @media screen and (max-width: $burgerBreakpoint) {
    margin-right: 52px;
  }

  &.active {
    display: flex;
    z-index: 40;
    margin: 0;
    position: absolute;
    left: 24px;
    top: 28px;
  }
}
.nav_buttons {
  display: flex;
  @media screen and (max-width: $burgerBreakpoint) {
    display: none;
  }
  &.active {
    display: flex;
    z-index: 40;
    position: absolute;
    z-index: 40;
    bottom: 12px;
    left: 24px;
  }
  &.active a:first-child {
    margin-left: 8px;
  }
}
.nav_buttons a:first-child {
  margin-left: 45px;
}
.menu li:first-child {
  margin-left: 30px;
  @media screen and (max-width: $burgerBreakpoint) {
    margin-left: 0;
  }
}

// ========================= [ Burger styles ] =========================
.burger {
  display: none;
  background: transparent;
  z-index: 3;
  @media screen and (max-width: $burgerBreakpoint) {
    display: flex;
    position: relative;
    height: 20px;
    width: 30px;

    &.active {
      margin-left: 12px;
      &:before {
        background: $burgerActiveColor;
        transform: rotate(45deg);
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        top: 8px;
      }

      &:after {
        background: $burgerActiveColor;
        transform: rotate(-45deg);
        bottom: 10px;
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
      }

      & span {
        transform: scale(0);
      }
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      background: $burgerColor;
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }

    &:before {
      top: 0;
      background: white;
    }

    &::after {
      bottom: 0;
      background: white;
    }

    span {
      position: absolute;
      top: 9px;
      right: 0;
      width: 100%;
      background: $burgerColor;
      background: white;
      height: 2px;
      transform: scale(1);
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }
  }
}
